[submodule "src/libs/python-cream"]
	path = src/libs/cream
	url = git://github.com/cream/python-cream.git
[submodule "src/libs/python-gpyconf"]
	path = src/libs/gpyconf
	url = git://github.com/jonashaag/gpyconf.git
[submodule "src/modules/melange"]
	path = src/modules/melange
	url = git://github.com/cream/melange.git
[submodule "data/melange-widgets"]
	path = data/melange-widgets
	url = git://github.com/cream/melange-widgets.git
[submodule "tools"]
	path = tools
	url = git://github.com/cream/tools
