[submodule "repos/python-cream"]
	path = repos/python-cream
	url = git://github.com/cream/python-cream
[submodule "repos/gpyconf"]
	path = repos/gpyconf
	url = git://github.com/kkris/gpyconf
[submodule "repos/melange"]
	path = repos/melange
	url = git://github.com/cream/melange
[submodule "repos/melange-widgets"]
	path = repos/melange-widgets
	url = git://github.com/cream/melange-widgets
[submodule "repos/tools"]
	path = repos/tools
	url = git://github.com/cream/tools
