.coverart {
    text-align: center;
}
#coverart {
    -webkit-box-shadow: 5px 5px 5px rgba(100, 100, 100, .5);
}

.info-area {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

#title {
    font-weight: bold;
    margin-bottom: 2px;
}

#artist {
    margin-bottom: 2px;
}

div.rating {
    align: center;
}

table.rating {
    margin-left: auto;
    margin-right: auto;
}

img.rating {
    opacity: 0.75;
}
img.rating:hover {
    opacity: 1;
}

div.control-area {
    align: center;
    border-radius: 10px;

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(100,100,100, 0)),
                                    to(rgba(60, 60, 60, 0.4)));
    margin-right: 25px;
    margin-left: 25px;
}

table.control-area {
    margin-left: auto;
    margin-right: auto;
}

.controls {
    float: left;
}

.play-pause {
    margin-left: 10px;
    margin-right: 10px;
}
